label,input[type=text],input[type=password], button{
    height: 30px;
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;
    padding-left: 5px;
    font-size: larger;

}
#header{
   position: fixed;
   width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    
}
#demo{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    margin-left:50%;
    margin-top: 30px;
    background-color: rgb(169, 238, 243);
}
#demo button{
    background-color: rgb(182, 238, 109);
    margin-left: 25%;
    text-align: center;
    font-size: 20px;
    height: 35px;
  
}
ul {
    
    display: flex;    
    justify-content: flex-end;
    list-style-type: none;
 
}
li a{
     padding: 10px;
     text-decoration: none; 
     font-size: 20px;
    
}

li a:hover{
    background-color: gray;
    color: white;
}
#content{
    list-style-type: none;
    
    background-color: rgb(224, 236, 204);
    width: 250px;
    height: 500px;
    z-index: 1;
   
}
#content a{
    color: black;
    padding: 12px 6px;
    text-decoration:none;
    display: block;
}
img:hover content{
    display: block;
} 

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}